<div class="animated fadeIn">
<div class="card">
  <div class="card-header">
    PROJECT
    <strong>Diary</strong>
  </div>
  <div class="card-block">
    <form action="" method="post" class="form-horizontal">
      <div class="form-group row">
        <label class="col-sm-5 form-control-label" for="input1">Project name</label>
        <div class="col-sm-6">
          <input type="text" id="input1" name="input-normal" class="form-control" placeholder="Normal">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-5 form-control-label" for="input2">Content</label>
        <div class="col-sm-6">
          <input type="text" id="input2" name="input-normal" class="form-control" placeholder="Normal">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-5 form-control-label" for="input3">Project Leader</label>
        <div class="col-sm-6">
          <input type="text" id="input3" name="input-normal" class="form-control" placeholder="Normal">
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
  </div>
</div>
</div>
