<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">


      <div class="card card-inverse card-primary">
        <div class="card-block pb-0">
          <h4 class="mb-0">9.823</h4>
          <p>Members online</p>
        </div>
        <div class="chart-wrapper px-3" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="lineChart1Data"
          [labels]="lineChart1Labels"
          [options]="lineChart1Options"
          [colors]="lineChart1Colours"
          [legend]="lineChart1Legend"
          [chartType]="lineChart1Type"
          (chartHover)="chartHovered($event)"></canvas>
        </div>
      </div>
    </div><!--/.col-->


    <div class="col-sm-6 col-lg-3">
      <div class="card card-inverse card-info">
        <div class="card-block pb-0">
          <h4 class="mb-0">9.823</h4>
          <p>Project1 status</p>
        </div>
        <div class="chart-wrapper px-3" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="lineChart2Data"
          [labels]="lineChart2Labels"
          [options]="lineChart2Options"
          [colors]="lineChart2Colours"
          [legend]="lineChart2Legend"
          [chartType]="lineChart2Type"
          (chartHover)="chartHovered($event)"></canvas>
        </div>
      </div>
    </div><!--/.col-->


    <div class="col-sm-6 col-lg-3">
      <div class="card card-inverse card-info">
        <div class="card-block pb-0">
          <h4 class="mb-0">9.823</h4>
          <p>Project2 status</p>
        </div>
        <div class="chart-wrapper" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="lineChart2Data"
          [labels]="lineChart2Labels"
          [options]="lineChart2Options"
          [colors]="lineChart2Colours"
          [legend]="lineChart2Legend"
          [chartType]="lineChart2Type"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div><!--/.col-->


    <div class="col-sm-6 col-lg-3">
      <div class="card card-inverse card-danger">
        <div class="card-block pb-0">
          <h4 class="mb-0">9.823</h4>
          <p>Members online</p>
        </div>
        <div class="chart-wrapper px-3" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="barChart1Data"
          [labels]="barChart1Labels"
          [options]="barChart1Options"
          [colors]="barChart1Colours"
          [legend]="barChart1Legend"
          [chartType]="barChart1Type"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->


  <div class="card">
    <div class="card-block">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Sales</h4>
          <div class="small text-muted">November 2016</div>
        </div><!--/.col-->
      </div><!--/.row-->


      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart"
        [datasets]="mainChartData"
        [labels]="mainChartLabels"
        [options]="mainChartOptions"
        [colors]="mainChartColours"
        [legend]="mainChartLegend"
        [chartType]="mainChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
  <!--/.card-->
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="social-box facebook">
        <i class="fa fa-facebook"></i>
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [datasets]="socialChartData1"
          [labels]="socialChartLabels"
          [options]="socialChartOptions"
          [colors]="socialChartColours"
          [legend]="socialChartLegend"
          [chartType]="socialChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
        <ul>
          <li>
            <strong>89k</strong>
            <span>friends</span>
          </li>
          <li>
            <strong>459</strong>
            <span>feeds</span>
          </li>
        </ul>
      </div>
      <!--/.social-box-->
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="social-box twitter">
        <i class="fa fa-twitter"></i>
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [datasets]="socialChartData2"
          [labels]="socialChartLabels"
          [options]="socialChartOptions"
          [colors]="socialChartColours"
          [legend]="socialChartLegend"
          [chartType]="socialChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
        <ul>
          <li>
            <strong>973k</strong>
            <span>followers</span>
          </li>
          <li>
            <strong>1.792</strong>
            <span>tweets</span>
          </li>
        </ul>
      </div>
      <!--/.social-box-->
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="social-box linkedin">
        <i class="fa fa-linkedin"></i>
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [datasets]="socialChartData3"
          [labels]="socialChartLabels"
          [options]="socialChartOptions"
          [colors]="socialChartColours"
          [legend]="socialChartLegend"
          [chartType]="socialChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
        <ul>
          <li>
            <strong>500+</strong>
            <span>contacts</span>
          </li>
          <li>
            <strong>292</strong>
            <span>feeds</span>
          </li>
        </ul>
      </div>
      <!--/.social-box-->
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="social-box google-plus">
        <i class="fa fa-google-plus"></i>
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [datasets]="socialChartData4"
          [labels]="socialChartLabels"
          [options]="socialChartOptions"
          [colors]="socialChartColours"
          [legend]="socialChartLegend"
          [chartType]="socialChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
        <ul>
          <li>
            <strong>894</strong>
            <span>followers</span>
          </li>
          <li>
            <strong>92</strong>
            <span>circles</span>
          </li>
        </ul>
      </div>
      <!--/.social-box-->
    </div><!--/.col-->
  </div><!--/.row-->
</div>
